@{
    ViewData["Title"] = "Home";
}
@model EuroFizzBuzz.Models.Submission;

<div class="text-center">
    <h1 class="display-4">@{ViewData["Title"]}</h1>
    
    @for (var idx = @Model.StartNumber; idx <= @Model.EndNumber; idx++) {
        <p>@(idx)</p>
    }
</div>
