@{
    ViewData["Title"] = "Home";
}

<div class="form-row">
    <div class="col-sm form-inline justify-content-center ">
        <input id="startNumber" class="form-control mr-sm-2" name="startNumber" type="number" min="1" max="100" placeholder="@Model.StartNumber"/>
        <input id="endNumber" class="form-control mr-sm-2" name="endNumber" type="number" value="100" min="2" max="100"/>
        <button class="btn btn-success" id="submitBtn">Submit</button>
    </div>
</div>

<div class="row">
    <div id="tableDiv" class="col-sm mt-3">
        @await Html.PartialAsync("~/Views/FizzBuzzTable/_FizzBuzzTable.cshtml")
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script>

$("#submitBtn").click(function () {
    var startNumber;
    var endNumber;

    if ($('input[name=startNumber]').val().length == 0) {
        startNumber = 1;
    } else {
        startNumber = $('input[name=startNumber]').val();
    }

    if ($('input[name=endNumber]').val().length == 0) {
        endNumber = 100;
    } else {
        endNumber = $('input[name=endNumber]').val();
    }

    $.ajax({
        url: '@Url.Action("UpdateTable","Home")',
        type: "POST",
        data: {
            startNumber: startNumber,
            endNumber: endNumber
        },
        success: function (result) {
            $("#tableDiv").html(result);
        }
    });
})
</script>