@{
    ViewData["Title"] = "Home";
}
@model EuroFizzBuzz.Models.Submission;

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body form-inline justify-content-center">
                <div class="form-group">
                    <label asp-for="StartNumber" class="control-label mr-sm-2"></label>
                    <input id="startNumber" class="form-control mr-sm-4" name="startNumber" type="number" min="1" max="100" placeholder="@Model.StartNumber"/>
                </div>

                <div class="form-group">
                    <label asp-for="EndNumber" class="control-label mr-sm-2"></label>
                    <input id="endNumber" class="form-control mr-sm-4" name="endNumber" type="number" value="100" min="1" max="100" placeholder="100"/>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" id="submitBtn">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="row table-responsive">
    <div id="tableDiv" class="col-sm mt-5">
        @await Html.PartialAsync("~/Views/FizzBuzzTable/_FizzBuzzTable.cshtml")
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    function getValueToSubmit(name) {
        if ($(name).val().length == 0) {
            return 1;
        }

        return $(name).val();
    }

$("#submitBtn").click(function () {
    var startNumber = getValueToSubmit('input[name=startNumber]');
    var endNumber = getValueToSubmit('input[name=endNumber]');

    $.ajax({
        url: '@Url.Action("UpdateTable","Home")',
        type: "POST",
        data: {
            startNumber: startNumber,
            endNumber: endNumber
        },
        success: function (result) {
            $("#tableDiv").html(result);
        }
    });
})
</script>
