@model EuroFizzBuzz.Models.Submission;
@{
    var factors = new List<(int, string)> {
        (3, "Three"),
        (5, "Five")
    };

    var fbService = new EuroFizzBuzz.Models.Services.FizzBuzzService(factors);
}

<table class="display table table-hover mx-auto" id="fizzBuzzTable">
        <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">Numbers</th>
            </tr>
        </thead>

        <tbody>
            @for (var idx = @Model.StartNumber; idx <= @Model.EndNumber; idx++) {
                <tr>
                    <td align="center">@(fbService.GetFizzBuzzValue(idx))</td>
                </tr>
            }
        </tbody>
</table>